.h2-holder{
    color: #4E47FF;
    font-size: 36px;
    font-weight: bold;
    width: 99px;
    height: 51px;
}

.btn-holder{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    background-color: #4E47FF;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1-holder{
    font-size:65px ;
    font-weight: bold;
    color: #252432;
    width: 905px;
    height: 152px;
}

.div-holder{
    text-align: center;
    /* justify-content: center; */
   gap: 37px;
}
.banner-title{
    background-image: url(../Assets/Hero-bg.png);
    gap: 158px;
    
    padding:  5px 200px;
    padding-bottom: 100px;
}

.img-holder{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 130px 116px 140px 116px;
    max-width: none;
    
}
.banner-container{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    width: 520px;
    height: 49px;
}

.banner-plus{
    font-weight: 600px;
    font-size: 24px;
    color: #252432;
    width: 450px;
    height: 60px;
}

.banner-start h2{
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 20px;
}

.banner-start p{
    font-size: 20px;
    font-weight: 600px;
    margin-top: 5px;
    color: #000000;
}
.main-banner h3{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin: 0;
    text-align: center;
}

.banner-starts{
    display: flex;
    justify-content: space-around;
    gap: 15px; 
}

.main-banner{
    background-color: #d8d7f6;
    justify-content: center;
    align-items: center;
    height: 100px;
    
    width: 850px;
    height: 306px;
    border-radius: 24px;
    margin-left: 30px;
    padding: 50px 140px;

    
}





    


